$primary: #FD6B64;

body {
    font-family: 'Muli', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ff-m {
    font-family: 'Montserrat';
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.grid > button:last-child {
    grid-column: span 2 / auto;
}
.jump {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.jump:hover {
    transform: translateY(-5px);
}
a {
    color: #fff;
    text-decoration: none;
}
.bg-navbar {
  background-color: $primary;
}

.logo {
  height: 35px;
}

.button-blue {
  background-color: #88F6FF;
}

#translation {
  display: flex;
  align-items: center;
  position: fixed;
  bottom:0%;
  background-color: $primary;
  border-radius: 100px;
  width: 346px;
  height: 80px;
  margin: 2% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  color: black;

  .divTranslation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #cross {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 10px;
    background-color: $primary;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cloud {
    height: 80px;
    // width: 80px;
    max-width: 80px;
    border-radius: 40px;
    margin-left: 20px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
  }

  #words {
    font-family: 'Muli', Arial, sans-serif;
  }

  #untranslated {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
  }

  #translated {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.subtitles {
  div {
    display: inline-block;
  }
}
